.bottom-slider {
    width: 100%;
    height: 7vh;
    border-top: 1px solid #dee2e6;
}

.bottom-slider:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

.bottom-slider span {
    vertical-align: middle;
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
}

#slider {
    vertical-align: middle;
    display: inline-block;
    width: 89%;
    margin: auto;
}

.right-panel {
    width: 80%;
    display: inline-block;
    float: right;
    padding: 5px;
}

.left-panel {
    width: 20%;
    height: 60%;
    display: inline-block;
    padding-left: 5px;
    padding-top: 5px;
}

.upload-panel {
    margin-bottom: 10px;
}

.loading-box {
    position: absolute;
    bottom: 60%;
    left: 60%;
}

@media (max-width: 1440px) {
    .tab {
        padding: 10px 10px !important;
    }
}

#layout-dropdown, #model-dropdown {
    padding-top: 5px;
    padding-bottom: 5px;
}

#depth-limit {
    margin-right: 2%;
}

#depth-limit, #treshold  {
    width: 49%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#start-button {
    margin-top: 10px;
}

#initial-nodes-method-dropdown {
    width: 60%;
    margin-right: 5%;
}

#initial-nodes-number {
    width: 30%;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#activations-graph {
    height: 40vh;
    width: 75vw;
}

#graph-degree-distribution {
    height: 40vh;
    width: 40vw;
    display: inline-block;
}

#div-table-graph-stats {
    display: inline-block;
    height: 40vh;
    width: 35vw;
}

#table-graph-stats {
    border-collapse: collapse;
    width: 75%;
    margin: 10% auto;
}
  
#table-graph-stats td {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#table-graph-stats tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
#table-graph-stats tr:hover {
    background-color: #ddd;
}

#table-graph-stats td:first-child {
    font-weight: bold;
}


/* Bootstrap  styles override */

.nav-link {
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    background-color: #E8E8E8;
    border-bottom: 1px solid #dee2e6;
}

.nav-item {
    padding-right: 1px;
}

.nav-link:hover {
    background-color: whitesmoke;
}

.nav-tabs {
    border: none;
}

.tab-content {
    height: 350px;
    background-color: whitesmoke;
    border: 1px solid transparent;
    border-color: #dee2e6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5%;
}

.right-panel .tab-content {
    padding: 0;
    padding-bottom: 5%;
    height: 92vh;
    background-color: #ffffff;
}
